In [5]:
from pandas_datareader import data
from bokeh.plotting import figure, show, output_file
from datetime import datetime as dt

In [45]:
start = dt(2015, 3, 1)
end = dt(2016, 3, 10)

df = data.DataReader(name='GOOG', data_source='yahoo', start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-03-02,570.583435,557.220154,558.995300,569.775696,2129631.0,569.775696
2015-03-03,573.814575,564.968872,568.888123,572.069397,1704768.0,572.069397
2015-03-04,575.529907,566.454773,570.304260,571.800110,1876839.0,571.800110
2015-03-05,576.327698,571.840027,573.445618,573.754761,1389605.0,573.754761
2015-03-06,575.101074,565.208191,573.305969,566.130676,1659143.0,566.130676
...,...,...,...,...,...,...
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100.0,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100.0,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300.0,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500.0,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500.0,712.820007

In [47]:
def inc_dec(close, open):
    if close > open:
        value = 'Increase'
    elif close < open:
        value = 'Decrease'
    else:
        value = 'Equal'
    return value

df['Status'] = [inc_dec(c, o) for c, o in zip(df.Close, df.Open)]
df['Average'] = (df.Open + df.Close)/2
df['Height'] = abs(df.Open - df.Close)

In [48]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Average,Height
Date,,,,,,,,,
2015-03-02,570.583435,557.220154,558.995300,569.775696,2129631.0,569.775696,Increase,564.385498,10.780396
2015-03-03,573.814575,564.968872,568.888123,572.069397,1704768.0,572.069397,Increase,570.478760,3.181274
2015-03-04,575.529907,566.454773,570.304260,571.800110,1876839.0,571.800110,Increase,571.052185,1.495850
2015-03-05,576.327698,571.840027,573.445618,573.754761,1389605.0,573.754761,Increase,573.600189,0.309143
2015-03-06,575.101074,565.208191,573.305969,566.130676,1659143.0,566.130676,Decrease,569.718323,7.175293
...,...,...,...,...,...,...,...,...,...
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100.0,710.890015,Decrease,712.940002,4.099976
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100.0,695.159973,Decrease,701.029999,11.740051
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300.0,693.969971,Increase,691.279999,5.379944
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500.0,705.239990,Increase,701.854980,6.770020
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500.0,712.820007,Increase,710.470001,4.700012

In [32]:
def rect_build(plot, status, color):
    hours_in_ms = 12*60*60*1000
    plot.rect(df.index[df.Status == status], df.Average[df.Status == status], hours_in_ms, 
          df.Height[df.Status == status], fill_color=color, line_color='black')

In [49]:
plot = figure(x_axis_type='datetime', width=1000, height=300, sizing_mode='scale_width')
plot.title.text = 'Candlestick Chart'
plot.grid.grid_line_alpha = 0.3
plot.segment(df.index, df.High, df.index, df.Low, color='Black')

rect_build(plot, 'Increase', '#7B9B74')
rect_build(plot, 'Decrease', '#FF6C00')
rect_build(plot, 'Equal', '#C4C7CC')

output_file('CS.html')
show(plot)